* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(236, 236, 236);
  --secondary-color: rgb(21, 21, 21);
  --blue-color: #2bc5cd;
  --orange-color: #ff693d;
  --border: 2px solid var(--blue-color);
  --spacing: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Resto del CSS */

.school {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/d8ce469044b958508f4bdbab/blueschoolbackpackwithessentialsupplies_232148207678.jpg);
}

.student {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/9e4ce16148dd5cbeb1065410/89f80abe-6acd-d8dc-a341-3e571206975b.jpg);
}

.time {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/773a5aa425b1502aaac14708/f2b45624-c8f6-3aa0-0ee4-58adda3c89b0.jpg);
}

.alumni {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/89993ff69c3e5244ad2bf1ba/blondestudentgirlissmilingholdingfoldernotebookherhandsuniversitybackground_101969664.jpg);
}

.alumni,
.school,
.student,
.time {
  background-size: cover;
}

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  background-color: var(--primary-color);
  height: 100vh;
  gap: var(--spacing);
  padding: var(--spacing);
}

.grid-container {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: var(--spacing);
}

header {
  background-color: var(--blue-color);
  color: var(--primary-color);
  grid-row: 1/3;
}

main {
  color: var(--blue-color);
  border: var(--border);
}

footer {
  background-color: var(--orange-color);
  color: var(--primary-color);
  grid-column: 2/4;
}

.part1 {
  grid-auto-rows: 1fr;
  text-align: start;
  align-items: start;
}
.part1 > h1 {
  grid-row: 1/2;
}

.part3 {
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: start;
  text-align: start;
  align-items: start;
}
.part3 > h3 {
  grid-row: 1;
  font-weight: 700;
}
.part3 > p {
  grid-row: 2;
}
button {
  grid-row: 3;
  padding: 25px 50px;
  border: none;
  font-size: 15px;
  font-weight: 600;
}

@media (max-width: 800px) {
  body {
    grid-template-columns: 1fr; /* Una sola columna */
  }
  footer {
    grid-column: 1; /* Ocupa columna 1 */
  }
}
